<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whompum.PennyFlip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/string_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityDashboard.ActivityDashboard"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySourceList.ActivitySourceList"
            android:label="@string/title_activity_source_master"
            android:parentActivityName=".ActivityDashboard.ActivityDashboard"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityDashboard.ActivityDashboard" />
        </activity>


        <activity android:name=".ActivitySourceData.ActivitySourceDataAdded"
                  android:theme="@style/StyleSourceDataAdded"
                  android:windowSoftInputMode="stateHidden"
                  android:parentActivityName=".ActivityDashboard.ActivityDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityDashboard.ActivityDashboard" />
        </activity>

        <activity android:name=".ActivitySourceData.ActivitySourceDataSpent"
                  android:theme="@style/StyleSourceDataSpent"
                  android:windowSoftInputMode="stateHidden"
                  android:parentActivityName=".ActivityDashboard.ActivityDashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityDashboard.ActivityDashboard" />
        </activity>


        <activity android:name=".ActivityHistory.ActivityHistory"
                  android:theme="@style/AppTheme"
                  android:windowSoftInputMode="stateHidden"/>


        <!--Wallet Provider Information-->
        <provider
            android:exported="false"
            android:authorities="com.whompum.PennyFlip.Data.Providers.WalletProvider"
            android:name=".Data.Providers.WalletProvider"/>


        <provider
            android:exported="false"
            android:authorities="com.whompum.PennyFlip.Data.Providers.TransactionsProvider"
            android:name=".Data.Providers.TransactionsProvider"/>


        <provider
            android:exported="false"
            android:authorities="com.whompum.PennyFlip.Data.Providers.SourceProvider"
            android:name=".Data.Providers.SourceProvider"/>

        <service android:name=".Data.Services.SaveTransactionsService"
                 android:exported="false"
                 android:description="@string/string_service_save_transaction_description"
                 android:icon="@drawable/ic_svg_statistics_dark"/>


    </application>

</manifest>